affine==2.1.0
click==6.7
click-plugins==1.0.3
cligj==0.4.0
dronekit==2.9.1
dronekit-sitl==3.2.0
enum34==1.1.6
future==0.15.2
monotonic==1.2
numpy==1.14.0
psutil==5.4.3
pymavlink==2.0.6
pyparsing==2.2.0
rasterio==0.36.0
six==1.11.0
snuggs==1.4.1
